/data1/users/restrp01/spin-patient-reports/refData/overall_survival_PSN_groups.RDS
/data1/users/restrp01/spin-patient-reports/refData/mmPSN_survivalCurvePlotList.rds
/data1/users/restrp01/spin-patient-reports/refData/makeMMPSNplots.R