# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

.DS_Store
*DS_Store
.DS_Store


exampleInputs/
exampleOutputs/
cnv.formatted_kable.spinreport.html
expression.formatted_kable.spinreport.html
spinPatientReport.html
spinPatientReport.md
spinPatientReport_files/figure-html/BCL2-plot-1.svg
spinPatientReport_files/figure-html/BCMA-plot-1.svg
spinPatientReport_files/figure-html/clonal-tree-plot-1.svg
spinPatientReport_files/figure-html/facets-cnv-profile-plot-1.svg
spinPatientReport_files/figure-html/genomic-landscape-circos-plot-1.svg
spinPatientReport_files/figure-html/GPRC5D-plot-1.svg
spinPatientReport_files/figure-html/gep70-plot-1.svg
spinPatientReport_files/figure-html/MCL1-plot-1.svg
spinPatientReport_files/figure-html/tmb-plot-1.svg
spinPatientReport_files/figure-html/selinescore-plot-1.svg
spinPatientReport_files/figure-html/scar-score-plot-1.svg
